<%= form_for(@core_module) do |f| %>
  <% if @core_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@core_module.errors.count, "error") %> prohibited this core_module from being saved:</h2>

      <ul>
      <% @core_module.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :ord %><br />
    <%= f.text_field :ord %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
