<h1>Listing contracts</h1>

<table>
  <tr>
    <th>Num</th>
    <th>Stamp</th>
    <th>Supplier</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contracts.each do |contract| %>
  <tr>
    <td><%= contract.num %></td>
    <td><%= contract.stamp %></td>
    <td><%= contract.supplier %></td>
    <td><%= contract.startdate %></td>
    <td><%= contract.enddate %></td>
    <td><%= link_to 'Show', contract %></td>
    <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
    <td><%= link_to 'Destroy', contract, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contract', new_contract_path %>
