<div id="manager">
 <fieldset>
<legend>Список пользователей</legend>

<table border=1 cellspacing=0>
  <tr>
    <th>Полное имя</th>
    <th>Идентификатор</th>
    <th>Администратор?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @core_users.each do |core_user| %>
  <tr>
    <td><%= core_user.fullname %></td>
    <td><%= core_user.username %></td>
    <td><%= core_user.admin %></td>
    <td><%= link_to 'Показать', core_user %></td>
    <td><%= link_to 'Изменить', edit_core_user_path(core_user) %></td>
    <td><%= button_to 'Удалить', core_user, {:onclick => " return confirm ('Вы уверены?')", :method => :delete} %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый пользователь', new_core_user_registration_path %>

 </fieldset>
</div>
