<%= form_for(@app_module) do |f| %>
  <% if @app_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_module.errors.count, "error") %> prohibited this app_module from being saved:</h2>

      <ul>
      <% @app_module.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :ord  %><br />
    <%= f.text_field :ord %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
