<h1>Listing app_modules</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @app_modules.each do |app_module| %>
  <tr>
    <td><%= app_module.name %></td>
    <td><%= app_module.description %></td>
    <td><%= link_to 'Show', app_module %></td>
    <td><%= link_to 'Edit', edit_app_module_path(app_module) %></td>
    <td><%= link_to 'Destroy', app_module, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New App module', new_app_module_path %>
