<h1>Listing core_actions</h1>

<table>
  <tr>
    <th>Module</th>
    <th>Name</th>
    <th>Description</th>
    <th>Ord</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @core_actions.each do |core_action| %>
  <tr>
    <td><%= CoreModule.find(core_action.module_id).description %></td>
    <td><%= core_action.name %></td>
    <td><%= core_action.description %></td>
    <td><%= core_action.ord %></td>
    <td><%= link_to 'Show', core_action %></td>
    <td><%= link_to 'Edit', edit_core_action_path(core_action) %></td>
    <td><%= link_to 'Destroy', core_action, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Core action', new_core_action_path %>
