<p id="notice"><%= notice %></p>

<p>
  <b>Role:</b>
  <%= @privilege.role_id %>
</p>

<p>
  <b>Action:</b>
  <%= @privilege.action_id %>
</p>


<%= link_to 'Edit', edit_privilege_path(@privilege) %> |
<%= link_to 'Back', privileges_path %>
