<%= form_for(@user_privilege) do |f| %>
  <% if @user_privilege.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_privilege.errors.count, "error") %> prohibited this user_privilege from being saved:</h2>

      <ul>
      <% @user_privilege.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :role_id %><br />
    <%= f.text_field :role_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :valid_from %><br />
    <%= f.date_select :valid_from %>
  </div>
  <div class="field">
    <%= f.label :valid_till %><br />
    <%= f.date_select :valid_till %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
