<h1>Listing user_privileges</h1>

<table>
  <tr>
    <th>Role</th>
    <th>User</th>
    <th>Valid from</th>
    <th>Valid till</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_privileges.each do |user_privilege| %>
  <tr>
    <td><%= user_privilege.role_id %></td>
    <td><%= user_privilege.user_id %></td>
    <td><%= user_privilege.valid_from %></td>
    <td><%= user_privilege.valid_till %></td>
    <td><%= link_to 'Show', user_privilege %></td>
    <td><%= link_to 'Edit', edit_user_privilege_path(user_privilege) %></td>
    <td><%= link_to 'Destroy', user_privilege, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User privilege', new_user_privilege_path %>
