<p id="notice"><%= notice %></p>

<p>
  <b>Role:</b>
  <%= @user_privilege.role_id %>
</p>

<p>
  <b>User:</b>
  <%= @user_privilege.user_id %>
</p>

<p>
  <b>Valid from:</b>
  <%= @user_privilege.valid_from %>
</p>

<p>
  <b>Valid till:</b>
  <%= @user_privilege.valid_till %>
</p>


<%= link_to 'Edit', edit_user_privilege_path(@user_privilege) %> |
<%= link_to 'Back', user_privileges_path %>
