<h1>Listing suppliers</h1>

<table border=1>
  <tr>
    <th>Короткое наименование</th>
    <th>Полное наименование</th>
    <th colspan=3></th>
    <!--th></th>
    <th></th-->
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%= supplier.shortname %></td>
    <td><%= supplier.fullname %></td>
    <td><%= link_to 'Show', supplier %></td>
    <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
    <td><%= link_to 'Destroy', supplier, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Supplier', new_supplier_path %>
