<p id="notice"><%= notice %></p>

<p>
  <b>Shortname:</b>
  <%= @supplier.shortname %>
</p>

<p>
  <b>Fullname:</b>
  <%= @supplier.fullname %>
</p>


<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
