<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
 <head>
  <title><%= title %></title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
   <div id="left_area">
    <div id="logo"><a href="#">LOGO</a></div>
    <%= render :partial => 'basises/menu' %>
   </div>

   <div id="right_area">
    <div id="working_area">

<%= yield %>

    </div>
   </div>
  </div>
  <div id="footer">
   <span class="where"><%= "#{$current_menu} - #{$current_submenu}" %></span> <%= current_core_user.username if signed_in? %> &copy; 2012 Богомолов Д.А. | <%= link_to "ООО \"КВИТ\"", 'www.ia-it.ru' %>
  </div>
</body>
</html>
