<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
 <head>
  <title><%= title %></title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
   <div id="left_area">
    <div id="logo"><a href="#">LOGO</a></div>
    <%= render :partial => 'pages/menu', :locals => { :module => "Admin", :action => "Create user" } %>
    <div id="left_panel">
     <ul id="menu">
      <li><a href="#"><span>Старт</span></a></li>
      <li><a href="#"><span>MODULE 1</span></a></li>
      <li class="selected"><a href="#"><span>MODULE 2</span></a>
       <ul id="submenu">
        <li><a href="#"><span>Action 1</span></a></li>
        <li><a href="#"><span>Action 2</span></a></li>
        <li class="selected"><a href="#"><span>Action 3</span></a></li>
        <li><a href="#"><span>Action 4</span></a></li>
       </ul>
      </li>
      <li><a href="#"><span>MODULE 3</span></a></li>
      <li><a href="#"><span>MODULE 4</span></a></li>
      <li><a href="#"><span>Выход</span></a></li>
     </ul>
    </div>
   </div>

   <div id="right_area">
    <div id="working_area">

<%= yield %>

    </div>
   </div>
  </div>
  <div id="footer">
   @ 2012 Богомолов Д.А. | <%= link_to "ООО \"КВИТ\"", 'www.ia-it.ru' %>
  </div>
</body>
</html>
